@font-face {
  font-family: 'STIX';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/STIXGeneral-Regular.otf') format('opentype');
}
div#anzeigebereich {
  min-height:120px;
  width:640px;
}
div#anzeigebereich.formel {
  font-family:'STIX';
  font-size:1.4em;
}
p.hinweis {
  width:640px;
  color:#666666;
  font-size:0.9em;
}
body, table {
  font-family:Arial,Helvetica,"Helvetica-Neue",sans-serif;
  font-size:14px;
}
select, input[type=text], input[type=number],textarea {
  border-style:solid;
  border-width:1px;
  border-color:#bebebe;
  padding:2px;
  background-color:#ffffff;
}
select:hover, input[type=text]:hover, input[type=number]:hover, textarea:hover {
  border-color:cornflowerblue;
}
input[type=number] {
  width:60px;
}
.nach_rechts {
  text-align:right;
}
.zentriert {
  text-align:center;
}
.nach_oben {
  vertical-align:top;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
