body, table {
  font-family:"Helvetica-Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
}
img {
  border-style:solid;
  border-color:#ffffff;
  border-width:1px;
}
textarea, select {
  font-family:Arial,Helvetica,"Helvetica-Neue",sans-serif;
  font-size:14px;
  border-style:solid;
  border-color:#bebebe;
  border-width:1px;
  padding:2px;
  background-color:#ffffff;
}
textarea:hover, select:hover {
  border-color:cornflowerblue;
}
#t_teilchenebene {
  width:396px;
  height:80px;
  height:160px;
}
#t_stoffebene {
  width:196px;
  height:160px;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
