body, table {
  font-family:"Helvetica-Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
}
input[type=text], textarea {
  font-family:"Helvetica-Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  border-style:solid;
  border-width:1px;
  border-color:#bebebe;
  padding:2px;
  background-color:#ffffff;
}
select {
  padding:2px;
  background-color:#ffffff;
}
select:hover, input[type=text]:hover, textarea:hover {
  border-color:cornflowerblue;
}
select#s_monosaccharid_rest {
  border-style:solid;
  border-width:2px;
  border-color:#ff6600;
  overflow:hidden;
}
select#s_monosaccharid_rest::-webkit-scrollbar    {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid_rest::-moz-scrollbar       {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid_rest::-o-scrollbar         {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid_rest::-google-ms-scrollbar {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid_rest::-khtml-scrollbar     {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid_rest::scrollbar            {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid {
  border-style:solid;
  border-width:2px;
  border-color:#bebebe;
  overflow:hidden;
}
select#s_monosaccharid::-webkit-scrollbar    {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid::-moz-scrollbar       {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid::-o-scrollbar         {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid::-google-ms-scrollbar {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid::-khtml-scrollbar     {display:solid;width:1px;background-color:transparent}
select#s_monosaccharid::scrollbar            {display:solid;width:1px;background-color:transparent}
.nach_rechts {
  text-align:right;
}
.zentriert {
  text-align:center;
}
.nach_oben {
  vertical-align:top;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
