body, table {
  font-family:"Helvetica-Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
}
select, input[type=text], textarea {
  border-style:solid;
  border-width:1px;
  border-color:#bebebe;
  padding:2px;
  background-color:#ffffff;
}
select:hover, input[type=text]:hover, textarea:hover {
  border-color:cornflowerblue;
}

select {
  overflow:hidden;
  padding:2px;
  background-color:#ffffff;
  cursor:pointer;
}
select::-webkit-scrollbar    {display:solid;width:1px;background-color:transparent}
select::-moz-scrollbar       {display:solid;width:1px;background-color:transparent}
select::-o-scrollbar         {display:solid;width:1px;background-color:transparent}
select::-google-ms-scrollbar {display:solid;width:1px;background-color:transparent}
select::-khtml-scrollbar     {display:solid;width:1px;background-color:transparent}
select::scrollbar            {display:solid;width:1px;background-color:transparent}

/*select option[selected] {
  background-color:#336699 !important;
  color:#ffffff !important;
}*/
.nach_rechts {
  text-align:right;
}
.zentriert {
  text-align:center;
}
.nach_oben {
  vertical-align:top;
}
.nach_unten {
  vertical-align:bottom;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
