body, table {
  font-family:"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
  background-color:#ffffff;
}
select, input {
  font-family:"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
}
input[type=text] {
  border-style:solid;
  border-width:1px;
  border-color:#bebebe;
  padding:2px;
  text-align:right;
  width:30px;
  background-color:#ffffff;
}
select {
  border-style:solid;
  border-width:1px;
  border-color:#bebebe;
  padding:2px;
  background-color:#ffffff;
}
select:hover {
  cursor:pointer;
  border-color:cornflowerblue;
}
.breite_spalte {
  width:90px;
  text-align:right;
}
textarea#zusatzinformationen {
  font-family:"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
  border-style:solid;
  border-color:white;
  border-width:1px;
  background-color:none;
  /*width:680px;*/
  /*user-select:none;*/
}
/*textarea#zusatzinformationen:active {
  border-style:solid;
  border-color:white;
  border-width:1px;
  box-shadow: 0 0 1px 1px #369 inset;
}*/
p#bildbereich {
  background-color:white;
  padding:5mm;
  max-width:580px;
}
a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
ul li.pdfdat {
  list-style-image:url(../img/pdfdat.gif);
}
ul li.odt {
  list-style-image:url(../img/libreoffice-writer.png);
}
