body {
    background-color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
}
table {
    width:640px;
    padding:5px;
    border-style:solid;
}
table, td {
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    /*border-style:solid;*/
    border-collapse:collapse;
    border-width:1px;
    border-color:lightgrey;
    background-color:white;
}
div#linksammlung {
    width:640px;
    color:grey;
    font-size:12px;
    line-height:17px;
}
.nach_rechts {
    text-align:right;
}
.zentriert {
    text-align:center;
}
.groesse {
    font-family:'Times New Roman',serif;
    /*font-weight:bold;*/
    font-style:italic;
    font-size:18px;
}
a.linkbereich {
    height:12px;
    /*background-color:white;*/
    cursor:pointer;
    border-bottom:dotted 1px grey; 
    text-decoration:none;
    color:grey;}
a.linkbereich:hover {
    background-color:#e9f3f8;
    /*color:#369;font-weight:bold;*/
}
