body                {background-color:#ffffff;}
input[type=button] {
  font-weight:bold;
  background-color:cornflowerblue;
  color:white;
  padding:2px;
  border-style:solid;
  border-color:#bebebe;
  border-width:1px;
  margin:2px;
  margin-right:10px;
}

input[type=button]:hover {
  color:cornflowerblue;
  background-color:#fff;
  border-color:cornflowerblue;
  cursor:pointer;
}

select#SF_auswahl   {width:160px;
                     font-size:16px;
                     font-family:Arial;
                     border-style:solid;
                     border-color:#bebebe;
                     border-width:1px;
                     background-color:#ffffff;
                     /*font-weight:bold;*/}
select#SF_auswahl:hover {
                     border-color:cornflowerblue;
                     cursor:pointer;
                     }
table               {font-family:Arial; 
                     font-size:10pt;
                     border-collapse:collapse;}
table#datentabelle  {font-family:Arial; 
                     font-size:10pt;
                     border-collapse:collapse;
                     width:600px;
                     }
td                  {padding:2px;}
div#name_des_molekuels {
                     width:300px;
                     background-color:white;
                     border-style:solid;
                     border-width:1px;
                     border-color:darkgrey;
                     padding:2px;}
div#zwischenmolekulare_kraft {
                     width:300px;
                     background-color:white;
                     border-style:solid;
                     border-width:1px;
                     border-color:darkgrey;
                     padding:2px;}
div#siedepunkt {
                     width:300px;
                     background-color:white;
                     border-style:solid;
                     border-width:1px;
                     border-color:darkgrey;
                     padding:2px;}
div#infotext {
                     font-family:Arial; 
                     font-size:10pt;
                     max-width:600px;
                     min-height:150px;
                     background-color:white;
                     border-style:solid;
                     border-width:1px;
                     border-color:darkgrey;
                     padding:2px;
                     margin-top:5px;}
div#strukturformel {
                     font-family:monospace, courier; 
                     font-size:10pt;
                     max-width:577px;
                     min-height:150px;
                     background-color:white;
                     border-style:solid;
                     border-width:1px;
                     border-color:darkgrey;
                     padding:2px;
                     padding-left:25px;
                     margin-top:5px;}
.zwimol             {color:#f60;
                     font-weight:bold;}
.nach_oben          {vertical-align:bottom;}
.nach_unten         {vertical-align:top;}
.nach_links         {text-align:left;}
.nach_rechts        {text-align:right;}
.zentriert          {text-align:center;}
.klein              {font-family:Arial,Helvetica,sans-serif;
                     font-size:10px;}
.linkbereich        {height:12px;
                     /*background-color:white;*/
                     cursor:pointer;
                     border-bottom:dotted 1px darkgrey; 
                     text-decoration:none;}
.linkbereich:hover  {
                     background-color:white;
                     }
.summenformel       {font-family:Courier; 
                     font-size:11pt;}
a                    {text-decoration:none;
                      color:black;
                      border-bottom:dotted 1px grey; }

